<h1>Search Listings</h1>

<%# TODO js field validation %>

<div id="errors" class="errors">
</div>

<%# note that form_for :search  will also work, if can't  get tableless models working %>
<%= form_for @search, url: {action: :search}, remote: true, html: {class: 'pure-form pure-form-aligned'} do |f| %>
    <div class="pure-control-group">
        <%= f.label :zip, 'Zip Code' %>
        <%= f.text_field :zip, size: 5, maxlength: 5 %>
    </div>
    <div class="pure-control-group">
        <%= f.label :bed, '# Bedrooms' %>
        <%= f.text_field :bed, size: 3, maxlength: 3 %>
    </div>
    <div class="pure-control-group">
      <%= f.label :bath, '# Bathrooms' %>
      <%= f.text_field :bath, size: 3, maxlength: 3 %>
    </div>
    <div class="pure-controls">
      <%= f.submit 'Search', class: 'pure-button pure-button-primary' %>
    </div>
<% end %>

<br />
<div id="results">
</div>

<br />
<div id="pagination" class="pagination">
</div>


<div id="listing_template" style="display:none">
  <div class="pure-g">

    <div class="pure-u-1-3">
      <span class="field_label">Type:</span>
      <span class="results_type"></span>
    </div>

    <div class="pure-u-1-3">
      <span class="field_label">Is Rental?:</span>
      <span class="results_isrental"></span>
    </div>

    <div class="pure-u-1-3">
      <span class="field_label">Price:</span>
      <span class="results_price"></span>
    </div>


    <div class="pure-u-1-3">
      <span class="results_primary_photo">No image available</span>
    </div>

    <div class="pure-u-2-3">
      <span class="field_label">Neighborhood:</span>
      <span class="results_neighborhood"></span>
    </div>


    <div class="pure-u-1-1">
      <span class="field_label">Description:</span>
      <span class="results_description"></span>
    </div>


      <div class="pure-u-1-3">
      <span class="field_label">Number of Bedrooms:</span>
      <span class="results_bed"></span>
    </div>

    <div class="pure-u-1-3">
      <span class="field_label">Number of Bathrooms:</span>
      <span class="results_bath_total"></span>
    </div>

    <div class="pure-u-1-3">
      <span class="field_label">Agent:</span>
      <span class="results_agent_name"></span>
    </div>

    <div class="pure-u-1-1"><br/><br/></div>

  </div>
</div>