/* very minimal styling, so as not to get bogged down in that */

body {
    /*shoddy attempt to account for Pure Css spacing a bit.*/
    padding: 10px;
    /*background:gray; */
}

.errors {
    color:red;
}

.thumb {
    width:150px;
    height:110px;
}

.pagination {
    width:100%;
    text-align: center;
}

.field_label {
    font-weight:bold;
}