<!DOCTYPE html>
<html>
<head>
  <title>HfRails</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1"> <%# purecss recommends this, presumably for responsive effect %>

</head>
<body>

<%= yield %>

</body>
</html>
